* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ccc;
}
#container {
  width: 1208px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -275px 0 0 -604px;
}
#board {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #bbada0;
  border-radius: 15px;
}
#board .cell_bg,
#board .cell_0 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #ccc0b3;
}
#board .cell_2 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #ece4d9;
  font-size: 50px;
}
#board .cell_4 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #ede0c7;
  font-size: 50px;
}
#board .cell_8 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #f2b275;
  font-size: 50px;
}
#board .cell_16 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #f6955c;
  font-size: 50px;
}
#board .cell_32 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #f77d5a;
  font-size: 50px;
}
#board .cell_64 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #f85d2e;
  font-size: 50px;
}
#board .cell_128 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #eecf6b;
  font-size: 50px;
}
#board .cell_256 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #edcd57;
  font-size: 50px;
}
#board .cell_512 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #eec943;
  font-size: 50px;
}
#board .cell_1024 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #eec62d;
  font-size: 40px;
}
#board .cell_2048 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #eec419;
  font-size: 40px;
}
#board .cell_4096 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #008000;
  font-size: 40px;
}
#board .cell_9192 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background-color: #808080;
  font-size: 40px;
}
#canvas {
  position: absolute;
  right: 0;
  top: 0;
  background-color: gray;
}
